// scss untuk general dashboard
.page-dashboard {
    @media (width: 768px) {
        #page-content-wrapper {
            margin-top: 50px;
        }

        #sidebar-wrapper {
            margin-top: 30px !important;
        }
    } //tambahan dri muti
    #page-content-wrapper {
        background: #fafafa;
        min-width: 100vw;
    }

    #sidebar-wrapper {
        @include media-breakpoint-up(md) {
            margin-top: 30px;
        } //tambahan dri muti
        margin-top: 60px;
        min-height: 100vh;
        margin-left: -15rem;
        transition: margin 0.25s ease-out;

        .sidebar-heading {
            padding: 1.5rem 0.5rem;
            //font-size: 1.2rem;

            .heading-title {
                font-size: 14px;
                color: #c0aa77;
            }
        }
        .list-group {
            width: 15rem;
        }
    }

    #wrapper {
        &.toggled {
            #sidebar-wrapper {
                margin-left: 0;
            }
        }
    }
    // navbar store (gapake)
    //tambahan muti
    .navbar-pay {
        margin-top: 0;
        background-color: #fafafa;
        box-shadow: 0px 4px 5px #cacad1;

        @include media-breakpoint-up(md) {
            background-color: transparent;
            box-shadow: none;
        }
    }

    // menu sidebar
    .list-group-item {
        border: 0;
        font-size: 16px;
        color: #000;

        &.active {
            background: linear-gradient(
                to right,
                rgba(19, 83, 80, 0.07),
                rgba(19, 83, 80, 0.3) 15%,
                rgba(19, 83, 80, 0.67) 85%,
                rgba(19, 83, 80, 0.93) 239%
            );
            border-right: 4px solid rgba(19, 83, 80, 0.67);
            color: #0c0d36;
        }
    }

    // biar responsive
    @include media-breakpoint-up(md) {
        #sidebar-wrapper {
            margin-left: 0;
            margin-top: 0px;
        }
        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #wrapper {
            &.toggled {
                #sidebar-wrapper {
                    margin-left: -15rem;
                }
            }
        }
    }

    .section-content {
        // jarak untuk di mobile
        margin-top: 100px;

        @include media-breakpoint-up(md) {
            margin-top: 20px;
            margin-left: 20px;
        }

        // emang ga keliatan katanya
        h5 {
            font-size: 20px;
            font-weight: 600;
            line-height: 27px; //tambahan muti
            color: #000;
        }

        .dashboard-title {
            font-size: 30px;
            font-weight: 600;
            line-height: 1.33; //tambahan muti
            color: #000;
        }
        .dashboard-subtitle,
        .dashboard-sub {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.3; //tambahan muti
            color: #135350; //warnanya beda sama yang di sistem. kalo di sistem warnanya jadi lebih agak item bukan biru

            //tambahan muti
            span {
                font-weight: 600;
            }
            a {
                color: #135350 !important;
            }
        }

        .table {
            .thead-table {
                background-color: #b1a069;
                font-size: 15px;
                line-height: 1.27;
                text-align: center;
                color: rgba(249, 238, 240, 0.98);
            }
        }

        a {
            text-decoration: none;
            font-size: 17px;
            line-height: 1.29;
            color: #707070;
        }

        // buat card/style kotakan saldo ada di file component/card.scss
    }

    //tambahan muti
    .card-body#tambah {
        min-height: 385px;
    }

    .btn-tambah {
        border-radius: 8px;
        background-color: #2fa86d;
        color: #f2e8e9;
        font-size: 16px;

        &:hover {
            background-color: #f2e8e9;
            color: #2fa86d;
        }
    }
}
