//styling card atau kotakan saldo
.card {
    border-radius: 8px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
    border: none;
    text-decoration: none !important; //!important akan kepake pada kotak/card dalam bentuk link

    .dashboard-card-title {
        font-size: 16px;
        line-height: 1.31;
        color: #135350;
    }

    .dashboard-card-subtitle {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.31;
        color: #707070;
    }
}
